.background-color {
    background-color: rgb(21, 122, 224);
}

title {
    color:rgba(3, 10, 141);
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
}


nav {
  font-style: normal;
  color: rgb(118, 3, 129);
  text-align: right;
}

p {
    color: rgb(3, 10, 141);
    text-align: left;
    font: size 20px;
}

